/* .square {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .square-segment {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
   */
/* 
   .header {
    width: 100%;
    position: relative;
    z-index: 1000;
  } */
  .chorepage-wrapper {
  margin-top: 50px;
}